<div class="container">
    <div class="todo-header">
        <button class="todo-header-button" mat-stroked-button style="margin-bottom: 2rem;" [routerLink]="['/todo-items/new']">Add new</button>

        <mat-form-field class="todo-header-search">
            <mat-label>Search...</mat-label>
            <input matInput type="text" [formControl]="searchPhraseControl">
            @if (searchPhraseControl.value) {
                <button matSuffix mat-icon-button (click)="clearSearchPhrase()">
                    <mat-icon>close</mat-icon>
                </button>
            }
        </mat-form-field>
    </div>

    @let toDoItems = toDoItems$ | async;
    @if (toDoItems && toDoItems.length > 0) {
        @for (toDoItem of toDoItems; track toDoItem.id) {
            <mat-card appearance="outlined" class="todo-card" (click)="openDialog('250ms', '250ms', toDoItem)">
                <mat-card-header class="todo-card-header">
                    <div style="flex: 1;">
                        <mat-card-title>{{ toDoItem.title }}</mat-card-title>
                        <mat-card-subtitle style="font-style: italic; font-size: 0.9em;">{{ toDoItem.expiryDateTimeUtc | date:'d MMMM y, HH:mm:ss' }}</mat-card-subtitle>
                    </div>
                    <div>
                        <button mat-icon-button (click)="deleteToDoItem(toDoItem.id); $event.stopPropagation()">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button (click)="markToDoItemAsDone(toDoItem); $event.stopPropagation()">
                            <mat-icon>check_circle</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <mat-card-actions>
                    <mat-progress-bar mode="determinate" [value]="toDoItem.completionPercentage"></mat-progress-bar>
                    <span style="margin-left: 10px;">{{ toDoItem.completionPercentage }}%</span>
                </mat-card-actions>
            </mat-card>
        }
        
        @let pagination = pagination$ | async;
        @if (pagination) {
            <mat-paginator class="todo-pagination"
                [length]="pagination.totalItemCount"
                [pageSize]="pagination.pageSize"
                [pageIndex]="pagination.currentPage - 1"
                [pageSizeOptions]="[5, 10, 20, 50]"
                (page)="onPageChange($event)">
            </mat-paginator>
        }
    } @else {
        <p>No to-do items available</p>
    }
</div>