/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$violet-palette,
  ));

}

html.dark-mode {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$azure-palette,
  ));
}

h1 {
  font-size: clamp(2rem, 2vw + 1rem, 2.5rem);
}

.container {
  padding: 40px;
  max-width: 1400px;
  margin: auto;
}

.text-primary {
  color: var(--mat-sys-primary);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--mat-sys-surface) !important;
  border: 1px solid var(--mat-sys-outline-variant);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
